/AdvancedGivenNoStar.class
/Advanced_ArmstrongNO.class
/Advancedstar.class
/ArmstrongNo.class
/ArmstrongSeries.class
/FactorialofNo.class
/FibonacciSeries.class
/Palindomeno.class
/Palindromeseries.class
/StarAdavanced.class
